---
layout: archive
title: ""
permalink: /misc/
author_profile: true
---

<hr>

<p></p>
 
<p></p>

<h2> Recent Updates </h2>

October, 2021: Updated my severely under-maintained website.

<p></p>

<h2> Outreach </h2>

<a href="https://www.astroscholars.org/" target="_blank" style="text-decoration: none; border-bottom: 1px solid blue; color: blue;">The 2021 Astro Scholars Program</a>

<br>

<p></p>

The JHU PAGS outreach programs and the JHU Physics Fair

<p></p>

<hr>

<p></p>

<h2> Photos </h2>

{% include base_path %}


{% for post in site.misc %}
  {% include archive-single.html %}
{% endfor %}


